@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

.offcanvas-title {
    width: 30%;
}

.logo {
    width: 9%;
}

.sideNav {
    list-style: none;
}
.sideNav li{
    /* background: #000; */
    margin-top: 4px;
    border-radius: 5px;
    color: white;
}
.sideNav li:hover{
    background-image: linear-gradient(to right, rgb(141, 2, 31), rgb(141, 2, 31), rgb(203, 121, 0));
}

.sideNav .fa{
    padding: .5rem;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgb(141, 2, 31), rgb(141, 2, 31), rgb(203, 121, 0));
}

.navLink{
    text-decoration: none;
    color: black;
}
.navLink:hover{
    color: white;
}
.main-card{
    background-image: linear-gradient(to right, rgb(141, 2, 31), rgb(141, 2, 31), rgb(203, 121, 0));
    border-radius: 10px;
    position: relative;
}
.circles::after{
    content: "";
    position: absolute;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.17); 
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    top: -40px; 
    left: -30px;
}

.circles::before{
    content: "";
    position: absolute;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.17);
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    top: -1px; 
    left: -1px;
}
.hr{
    background-color: rgba(255, 255, 255, 0.17) !important;
    margin-top: -5px;
}
.bg-gradient {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.8) 70%, black 100%) !important;
}

.main-card .texts{
    line-height: 2px;
}

.notification{
    width: 30px;
    height: 30px;
    /* margin-top: -5px; */
}
.google{
    height: 70px;
}
.agent{
    color: rgb(255, 255, 255); 
    border: 1px solid rgb(255, 152, 0); 
    border-radius: 5px;
    width: 250px; 
    height: 50px !important;
}
.electricity-text{
    width: 35%;
}
.cable{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("./assets/images.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
.airtime{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("./assets/images\ \(2\).jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
.elect{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("./assets/images\ \(1\).jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
.cables{
    font-size: 12px;
}
.fa-copy{
    border: 1.5px dotted black;
    border-radius: 100%;
    width: 5%;
    height: 60px;
    font-size: 30px;
    cursor: pointer;
}
.refer-img{
    width: 15%;
    height: 50px;
    border-radius: 5px;
}
.refers{
    font-size: 13px;
}
.styles-module_whatsappButton__IWx9V {
    align-items: center;
    background-color: #25d366;
    border-radius: 50%;
    bottom: 2rem;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 15%);
    cursor: pointer;
    display: flex;
    height: 60px;
    justify-content: center;
    position: fixed;
    right: 2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 60px;
    padding: 10px;
    /* color: white; */
}



@media (max-width: 700px) {
    .offcanvas {
        width: 100% !important;
    }

    .logo {
        width: 20%;
        /* display: none; */
    }
    .main-card h3{
        font-size: 16px;
    }
    .main-card .btn{
        font-size: 10px;
    }
    .main-card .rounded-circle{
        width: 25px !important;
        height: 25px !important;
    }
    .main-card .status{
        font-size: 12px;
    }
    .main-card .status span{
        padding: 3px !important;
    }
    .google{
        height: 40px;
    }
    .agent{
        color: rgb(255, 255, 255); 
        border: 1px solid rgb(255, 152, 0); 
        width: 250px; 
        height: 26px !important;
    }
    .electricity-text{
        width: 100%;
    }
    #bulk-sms{
        line-height: 10px !important;
    }
    #bulk-sms a{
        font-size: 10px;
    }
    .cables{
        font-size: 12px;
    }
    .service h6{
        font-size: 12px !important;
        font-weight: bolder;
    }
    .refer-img{
        width: 15% !important;
        height: 40px;
        border-radius: 5px;
    }
    .refer h5{
        font-size: 13px !important;
    }
    .refer p{
        font-size: 10px !important;
        line-height: normal;
        margin-top: -5px;
    }
    .fa-copy{
        border: 1.5px dotted black;
        border-radius: 100%;
        width: 15% !important;
        height: 45px !important;
        font-size: 20px !important;
        cursor: pointer;
    }
    .refers{
        font-size: 11px;
    }
}